<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd                          
                           http://www.springframework.org/schema/task
						   http://www.springframework.org/schema/task/spring-task.xsd">
                           
 <!--  
 	전체 웹 사이트에 사용되는 공통빈 작업
 	(root 에서 생성된 bean child 사용가능)
 	1.DB작업 (연결 , Template , Dao 설정)
 	2.UI 구성 (ViewResolver)
 	3.jsonview 추가
 -->                          
	<bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
		<property name="username" value="kosbus"></property>
		<property name="password" value="1004"></property>
	</bean>
    <bean id="" class="org.springframework.jdbc.core.JdbcTemplate">
    	<property name="dataSource" ref="driverManagerDataSource"></property>
    </bean>   
    
    <!-- view resolver -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
   		<property name="prefix" value="/WEB-INF/views/" />
   		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 공통빈 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760" />
	</bean>

	<!-- Mybatis 설정 Factory , Template -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="driverManagerDataSource"></property>
		<property name="mapperLocations" value="classpath*:kr/or/bus/mapper/*xml" />
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactoryBean" />
	</bean>
 	
	<!-- jsonview -->
	<bean name="jsonview" class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />               
	
	<bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<!-- <constructor-arg name="strength" value="20"></constructor-arg> -->
	</bean>

	
	
</beans>





